@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
a:hover {
  scale: 1.1;
}
a {
  transition: scale 0.3s ease-in;
}
body {
  direction: rtl;
  text-align: right;
  background-color: #f4f4f4;
  font-family: "cairo", sans-serif;
  margin: 0;
  padding: 0;
  background-image: repeating-linear-gradient(
    -70deg,
    transparent,
    transparent 50px,
    #e6e6e632 50px,
    #e6e6e632 200px
  );
  background-color: #ffffff;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  padding: 100px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #333;
  margin-block: 50px;
}
p {
  color: #666;
  line-height: 1.6;
}

/* navbar */

#navcontainer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 10px;
  padding: 10px;
}

#humberger {
  padding: 0px;
  margin: auto auto;
  display: none;
  cursor: pointer;
}
#humberger1 {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 10px;
}
#humberger:hover {
  background-color: transparent;
  scale: 1;
}

.list {
  display: flex;
}

.listphone {
  margin-top: 5px;
  align-self: stretch;
  justify-self: end;
  display: none;
}
.listphone a {
  color: white;
  padding: 10px 30px;
  display: block;
  border-radius: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.678);
  background-color: #273c757d;
}
#navcontainer{
  background-color: #273c75;
}
nav a {
  color: white;
  padding: 5px 10px;
  display: block;
  border-radius: 10px;
}
nav a:hover {
  background-color: green;
}
.scrolled {
  background-color: #273c75;
}
#society {
  display: flex;
  font-weight: bolder;
  gap: 10px;
}

#signin {
  border: 1px solid green;
  text-align: center;
}



@media screen and (max-width: 991px) {
  nav {
    width: 100%;
  }
  .home {
    width: 70%;
  }
  .colaborations {
    width: 70%;
  }
  .services {
    width: 70%;
  }
  .card-container {
    width: 100%;
    padding: 0px 30px;
  }
}
@media screen and (max-width: 767px) {
  .list {
    display: none;
  }
  #humberger {
    display: block;
  }
  .home {
    width: 100%;
  }
  .colaborations {
    width: 100%;
    justify-content: space-around;
  }
  .services {
    width: 100%;
  }
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 599px) {
  .title {
    font-size: 1.5rem;
  }
  .colaborations {
    /* flex-wrap: wrap;
        gap: 20px;
        padding: 50px 10px; */
    flex-direction: column;
    gap: 20px;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
  footer {
    padding: 50px 0px;
  }
  .list2 {
    flex-direction: column;
  }
}
